.header {
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 73px;
}

@media screen and (max-width: 720px) {
  .header {
    font-size: 40px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    font-size: 20px;
  }
}
