.list-item__button {
  margin-left: 10px;
  padding: 0;
  cursor: pointer;
  transition: 0.3s linear;

  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  border: none;
}

.list-item__button:first-of-type {
  margin-left: 0;
}

.list-item__button:hover {
  opacity: 0.7;
}

.list-item__button.edit {
  background-image: url('../../../images/Edit.png');
}
.list-item__button.duplicate {
  background-image: url('../../../images/Duplicate.png');
}
.list-item__button.delete {
  background-image: url('../../../images/Delete.png');
  width: 20px;
  height: 20px;
}

.tooltip {
  position: fixed;
  padding: 10px 20px;
  border: 1px solid #b3c9ce;
  border-radius: 4px;
  text-align: center;
  color: #333;
  background: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
